name: HackerRank Notifier

on:
  schedule:
    - cron: "30/5 9 * * *"  # Runs every 5 minutes, starting at 9:30 AM UTC
    - cron: "0/5 10-17 * * *"  # Runs every 5 minutes from 10 AM UTC to 5:00 PM UTC
  workflow_dispatch:  # Allows manual triggering (run manually from the Actions tab)

jobs:
  check_questions:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # Or any compatible version

      - name: Upgrade Pip
        run: python -m pip install --upgrade pip

      - name: Install Dependencies
        run: pip install requests

      - name: Run successcheckallpage.py
        run: python successcheckallpage.py

      - name: Run question-numbers.py
        run: python question-numbers.py
